{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
        <!-- Search Form -->
        <div class="search-container text-center">
            <form class="d-flex justify-content-center" method="POST" onSubmit='return validate();' action="/search">
                <input class="form-control me-2 search-input" name="search-query" type="search" placeholder="Search" aria-label="Search" autofocus="autofocus">
                <button class="btn btn-danger search-btn" type="submit" onclick='this.form.submit();'>Search</button>
                <input name="upf-irwa-hidden" type="hidden" value="123">
            </form>
{% endblock %}